# Sort two sorted list

In [1]:
 def merge_sort(a,b):
    c = []
    p = len(a)
    q = len(b)
    
    i,j=0,0
    while (i<p and j<q):
        if a[i]<b[j]:
            c.append(a[i])
            i+=1
         
        else:
            c.append(b[j])
            j+=1
            
     
    while (i<p):
        c.append(a[i])
        i+=1
        
    while (j<q): 
        c.append(b[j])
        j+=1
     
    return c

In [2]:
a = [1,4,6,8,13,15,19]
b = [3,5,9,12,16,22]

In [3]:
print('After Merge Sort-',merge_sort(a,b))

After Merge Sort- [1, 3, 4, 5, 6, 8, 9, 12, 13, 15, 16, 19, 22]

# Sort list by name and time hours

In [4]:
elements = [
        { 'name': 'vedanth',   'age': 17, 'time_hours': 1},
        { 'name': 'rajab', 'age': 12,  'time_hours': 3},
        { 'name': 'vignesh',  'age': 21,  'time_hours': 2.5},
        { 'name': 'chinmay',  'age': 24,  'time_hours': 1.5},
    ]

In [5]:
#Dividing list in two parts
left = elements[0:2]
right = elements[2:]

In [6]:
def merge(left,right,key=0):
    
    p = len(left)
    q = len(right)
    
    if key=='time_hours':
    
        #arranging right list in ascending order(time hour is not in ascending order)
        for j in range(len(right)-1):

            for i in range(len(right)-1-j):


                if right[i]['time_hours']>right[i+1]['time_hours']:
                    right[i]['name'],right[i+1]['name']=right[i+1]['name'],right[i]['name']
                    right[i]['age'],right[i+1]['age']=right[i+1]['age'],right[i]['age']
                    right[i]['time_hours'],right[i+1]['time_hours']=right[i+1]['time_hours'],right[i]['time_hours']
                    
    else:
        
        #arranging name in ascending order        
        for j in range(len(left)-1):

                for i in range(len(left)-1-j):


                    if left[i]['name']>left[i+1]['name']:
                        left[i]['name'],left[i+1]['name']=left[i+1]['name'],left[i]['name']
                        left[i]['age'],left[i+1]['age']=left[i+1]['age'],left[i]['age']
                        left[i]['time_hours'],left[i+1]['time_hours']=left[i+1]['time_hours'],left[i]['time_hours']            
    
    i,j=0,0
    l = []
    
    while i<p and j<q:
        if key=='name':
            a='name'
        else:
            a='time_hours'

        di=dict()
        if left[i][a]<right[j][a]:
            di['name'] = left[i]['name']
            di['age'] =  left[i]['age']
            di['time_hours'] = left[i]['time_hours']
            l.append(di)
            del di
            i+=1
        else:   
            di['name'] = right[j]['name']
            di['age'] = right[j]['age']
            di['time_hours']=right[j]['time_hours']
            l.append(di)
            del di
            j+=1
                
    while i<p:  
            di=dict()
            di['name'] = left[i]['name']
            di['age'] = left[i]['age']
            di['time_hours']=left[i]['time_hours']
            l.append(di)
            del di
            i+=1
                    
    while j<q: 
            di=dict()
            di['name'] = right[j]['name']
            di['age'] = right[j]['age']
            di['time_hours']=right[j]['time_hours']
            l.append(di)
            del di
            j+=1
            
    return l

In [7]:
print('Sort By time hours')
merge(left,right,key='time_hours')

Sort By time hours

[{'name': 'vedanth', 'age': 17, 'time_hours': 1},
 {'name': 'chinmay', 'age': 24, 'time_hours': 1.5},
 {'name': 'vignesh', 'age': 21, 'time_hours': 2.5},
 {'name': 'rajab', 'age': 12, 'time_hours': 3}]

In [8]:
print('Sort By name')
merge(left,right,key='name')

Sort By name

[{'name': 'chinmay', 'age': 24, 'time_hours': 1.5},
 {'name': 'rajab', 'age': 12, 'time_hours': 3},
 {'name': 'vedanth', 'age': 17, 'time_hours': 1},
 {'name': 'vignesh', 'age': 21, 'time_hours': 2.5}]