In [7]:
import pandas as pd

In [10]:
df = pd.read_csv('C:\\Users\\abc\\Documents\\Book2.csv')
df

   sr  noofhrsm  studyhr  marks
0   1         3        3     56
1   2         5        2     65
2   3         2        4     45
3   4         3        5     67
4   5         1        4     89

In [11]:
df.loc[[False,False,True]]

IndexError: Boolean index has wrong length: 3 instead of 5

In [13]:
df.loc[df['marks']<60]

   sr  noofhrsm  studyhr  marks
0   1         3        3     56
2   3         2        4     45

In [14]:
df.iloc[0]

sr           1
noofhrsm     3
studyhr      3
marks       56
Name: 0, dtype: int64

In [15]:
df.iloc[[0]]

   sr  noofhrsm  studyhr  marks
0   1         3        3     56

In [16]:
df.iloc[:,0]

0    1
1    2
2    3
3    4
4    5
Name: sr, dtype: int64

In [18]:
df.iloc[[0,1]]

   sr  noofhrsm  studyhr  marks
0   1         3        3     56
1   2         5        2     65

In [22]:
df.iloc[[True,True,True,True,True]]

   sr  noofhrsm  studyhr  marks
0   1         3        3     56
1   2         5        2     65
2   3         2        4     45
3   4         3        5     67
4   5         1        4     89