In [1]:
import pandas as pd

In [2]:
list1 = [1,2,-3.4,4.5,"pandas"]
print(list1)

[1, 2, -3.4, 4.5, 'pandas']

In [4]:
series1 = pd.Series(list1)
print(series1)

0         1
1         2
2      -3.4
3       4.5
4    pandas
dtype: object

In [5]:
series2 = pd.Series([1,2,3,4])
series2

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
series3 = pd.Series([1,2,3,4],index=['a','b','c','d'])
print(series3)

a    1
b    2
c    3
d    4
dtype: int64

In [7]:
series3 = pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float)
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [9]:
series4 = pd.Series(0.8)
print(series4)

0    0.8
dtype: float64

In [10]:
series4 = pd.Series(0.8,index=[1,2,3,4,5])
print(series4)

1    0.8
2    0.8
3    0.8
4    0.8
5    0.8
dtype: float64

In [12]:
dic = pd.Series({1:'a',2:'d',3:'c'})
print(dic)

1    a
2    d
3    c
dtype: object

In [13]:
s = pd.Series([1,2,3,4,5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
s[0]

1

In [15]:
s[1]

2

In [16]:
s1 = pd.Series([1,2,3,4,5])
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [17]:
s+s1

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [18]:
s-s1

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [19]:
s*s1

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [22]:
s//s1

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [24]:
s[0:4]

0    1
1    2
2    3
3    4
dtype: int64

In [25]:
max(s)

5

In [26]:
min(s)

1

In [28]:
s[s>2]

2    3
3    4
4    5
dtype: int64

In [29]:
s2=pd.Series([1,2,3])
s2

0    1
1    2
2    3
dtype: int64

In [30]:
s1+s2

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64