In [1]:
import pandas as pd

In [4]:
pd.read_csv('C:\\Users\\abc\\Documents\\Book2.csv')

   sr    name  study  marks
0   1   suraj      3     56
1   2  sammed      5     67
2   3  nilesh      6     72
3   4  ritesh      4     63

In [9]:
import os

In [10]:
print(os.getcwd())

C:\Users\abc\Pandas Python practical

In [12]:
pd.read_csv('https://drive.google.com/file/d/1QGknTwk2SFKszKfq0ncT0LNEnNDqzJ6N/view?usp=sharing')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 6, saw 2