In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('C:\\Users\\abc\\Documents\\Book1.csv')
df

,Sr. No.,Student ID,Roll No.,Name of Student,Exam Roll No.
0,1,482450,1501,AMATE PRAJAKTA GAJANAN,1501
1,2,482455,1502,BARAGALE SURAJ VIJAY,1502
2,3,480102,1503,BARAGE RUTUJA RANGRAO,1503
3,4,472645,1504,BHOSALE VIJAYA SHANKAR,1504
4,5,472743,1505,BUVA SHIVANAND KEDARI,1505
5,6,477700,1506,CHOPADE PRADNYA NISHIKANT,1506
6,7,504996,1507,CHOUGALE VISHAL VITTHAL,1507
7,8,513019,1508,CHOUGULE AKSHAY ADINATH,1508
8,9,484030,1509,CHOUGULE SUSHANT RAVINDRA,1509
9,10,470140,1510,DHORALKAR SHWETA MARUTI,1510
10,11,477696,1511,GAIKWAD NILAM BHARATRAO,1511
11,12,500487,1512,GALADAGE NAMRATA APPASO,1512
12,13,482628,1513,HILAGE JYOTI DATTATRAY,1513
13,14,501945,1514,JADHAV NEHA PANDURANG,1514
14,15,479799,1515,JOSHI MINAL JAYANT,1515
15,16,477865,1516,KALIKATE DHANASHRI DHANAJI,1516
16,17,472520,1517,KAMBLE PRIYANKA SURESH,1517
17,18,476348,1518,KAMBLE SNEHAL KIRAN,1518
18,19,493151,1519,KASHID KAVITA DHONDIRAM,1519
19,20,477703,1520,KHADE PRATIBHA MAHADEV,1520
20,21,472508,1521,KHOT SWATI RAJARAM,1521
21,22,483826,1522,KULKARNI SUKHADA GAJANAN,1522
22,23,482413,1523,MAGDUM KRANTI SHRENIK,1523
23,24,472649,1524,MANE DHANSHRI VITTHAL,1524
24,25,482511,1525,MANGALE MANISHA GANPATRAO,1525
25,26,487011,1526,MORE MONIKA ADHIKRAO,1526
26,27,472505,1528,MUJAWAR BENZIR AYUBHKHAN,1528
27,28,480112,1529,MULLANI PARAHIN MIRASO,1529
28,29,477684,1530,PARIT SHIVANI HINDURAO,1530
29,30,472591,1531,PARIT SONAL UTTAM,1531
30,31,479840,1532,PATIL DHANASHREE JAYSING,1532
31,32,477689,1533,PATIL MADHURA DATTATRAY,1533
32,33,482590,1534,PATIL POOJA ANKUSH,1534
33,34,493141,1535,PATIL ROHINI RAGHUNATH,1535
34,35,493066,1536,PATIL ROHINI RAMESH,1536
35,36,472502,1537,PATIL SANJIVANI SANJAY,1537
36,37,476321,1538,PATIL SUPRIYA BABASO,1538
37,38,493221,1539,PATIL SUPRIYA MADHUKAR,1539
38,39,480315,1540,PATIL SWAPNIL SUNIL,1540
39,40,472483,1541,PAWAR AAKANKSHA ANANDRAO,1541
40,41,472491,1543,POTDAR GEETA MANOJKUMAR,1543
41,42,493196,1542,POTDAR MANISHA PRAKASH,1542
42,43,486666,1544,RABADE SUPRIYA DINKAR,1544
43,44,482605,1545,RANADIVE SUNIL DHWAJENDRA,1545
44,45,493173,1546,SABANE DIPTI GAJANAN,1546
45,46,472479,1547,SALUNKHE SONALI RAJEEV,1547
46,47,477698,1548,SHINDE VIRENDRA VIJAY,1548
47,48,482663,1549,SHINDE YOGITA SHAHAJI,1549
48,49,477706,1550,SHIPUGADE SAYALI SARJERAO,1550
49,50,482435,1551,SOKASANE MANTESH PANDURANG,1551
50,51,493286,1552,SUKHASARE PRATIBHA FAKEERAPPA,1552
51,52,477617,1553,SUTAR AMRUTA ASHOK,1553
52,53,476313,1554,TAMGAVE NAMRATA SUHAS,1554
53,54,479785,1556,TORASKAR KAVITA DILIP,1556
54,55,472617,1557,VADGAONKAR OMKAR ARUN,1557